{{#if newProductForm}}
<h4>New Product</h4>
<div>
  <form>
    <div class="form-group">
      <label for="name">Product Name:</label>
      {{input value=name id="name" }}
    </div>

    <div class="form-group">
      <label for="brand">Product Brand:</label>
      {{input value=brand id="brand"}}
    </div>

    <div class="form-group">
      <label for="content">Product Description:</label>
      {{input value=content id="content"}}
    </div>

    <div class="form-group">
      <label for="image">Product Display URL:</label>
      {{input value=image id="image"}}
    </div>

    <div class="form-group">
      <label for="price">Product Price:</label>
      {{input type="number" value=price id="price"}}
    </div>

    <div class="form-group">
      <label for="stock">Product Stock Availability:</label>
      {{input type="number" value=stock id="stock"}}
    </div>

    <button {{action "saveProduct"}}>Save Product</button>
  </form>
</div>
{{else}}
  <button {{action "productFormShow"}}>Add New Product</button>
{{/if}}
